/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    width: 350px;
}

/* TITLE */
h2 {
    color: #22c55e;
    margin-bottom: 20px;
}

/* BUTTON */
button {
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    background: #22c55e;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

/* BUTTON HOVER */
button:hover {
    background: #16a34a;
    transform: scale(1.05);
}

/* OUTPUT TEXT */
#demo {
    margin-top: 20px;
    font-size: 16px;
    color: #e2e8f0;
    font-weight: 500;
}